# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env*

# Logs
*.log
logs/

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Others
.env
.env.*
*.tar